POSTGRES_HOST=localhost
POSTGRES_PORT=your_port
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_database_name

JWT_SECRET=your-secret-change-this
JWT_EXPIRY=1800

REDIS_URL=redis://localhost:6379